/* global-element start */
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/opensanslight.woff2) format('woff2'),
       url(../fonts/opensanslight.woff) format('woff');
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal; 
  src: url(../fonts/opensans.woff2) format('woff2'),
       url(../fonts/opensans.woff) format('woff');
}

@font-face {
  font-family: Gilroy;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/gilroylight.woff2) format('woff2'),
       url(../fonts/gilroylight.woff) format('woff');
}

@font-face {
    font-family: Gilroy;
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/gilroyextrabold.woff2) format('woff2'),
         url(../fonts/gilroyextrabold.woff) format('woff');
}

:root {
  --basic-black: #000000;
  --basic-black-opacity-01: rgba(0, 0, 0, 0.1);
  --basic-black-opacity-03: rgba(0, 0, 0, 0.3);
  --basic-black-opacity-06: rgba(0, 0, 0, 0.6);
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-white: #FFFFFF;
  --basic-gainsboro: #DCDCDC;
  --basic-cararra: #EBEBEB;
  --basic-gallery: #EEEEEE;
  --basic-white-opacity-3: rgba(255,255,255,.3);
  --special-yellow-dark: #F0C52E;
  --special-yellow-light: #F7E296;
  --special-green: #91C92F;
  --special-pale-pink: #F6DADA;
}

.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1200px
}

.visually-hidden {
  border: 0;
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
}

  /* effect-link start */
    .effect-link {
      color: var(--basic-black);
      font-family: Gilroy, Arial, sans-serif;
      font-size: 18px;
      font-weight: 800;
      text-align: center;
      line-height: 22px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      position: relative;
      display: inline-block;
    }

    .effect-link::before {
      background-color: var(--special-yellow-dark);
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      height: 8px;
      width: 100%;
      z-index: -1;
      transform: translateY(-50%);  
      transition: height .4s;
    }

    .effect-link:hover::before {
      height: 100%;
      transform: translateY(-50%);
      transition: height .4s;
    }

    .effect-link--opacity:active{ 
      color: var(--basic-black-opacity-03)
    }

    .effect-link--black:active::before,
    .effect-link--black:focus::before {
      background-color: var(--basic-black);
      height: 0%;
    }
  /* effect-link end */

/* global-element end */



/* header start */
.header {
  position: relative;
  margin-top: 40px;
}

  /* header-content start */
    .header-content__inner {
      display: grid;
      grid-template-rows: 300px;
      background-color: var(--special-yellow-light);
    }

    .header-content__inner--catalog {
      grid-template-rows: 186px;
    }

      /* header-logo start */
        .header-logo {
          position: absolute;
          top: -20px;
          padding-left: 60px;
        }

        .header-logo__img:hover {
          opacity: 0.6;
        }

        .header-logo__img:active {
          opacity: 0.3;
        }
      /* header-logo end */

      /* header-nav start */ 
        .header-nav {
          display: grid;
          grid-template-rows: 154px 146px;
        }

          /* header-top start */
            .header-top {
              display: grid;
              align-content: space-between;
              padding: 0 60px;
            }

              /* header-navigation start */
                .header-navigation {
                  padding-top: 29px;
                }

                .header-navigation__list {
                  display: flex;
                  align-items: baseline;
                }

                .header-navigation__item--login {
                  margin-right: 60px;
                  width: 240px;
                }

                .header-navigation__item-catalog::after {
                  content: "Выйти";
                  color: var(--basic-black-opacity-03);
                  padding-left: 20px;
                }

                .header-navigation__item--cart {
                  margin-left: auto;
                }

                .header-navigation__link {
                  color: var(--basic-black);
                  position: relative;
                }

                .header-navigation__link::before {
                  content: "";
                  background-repeat: no-repeat;
                  background-position: 0 50%;
                  position: absolute;
                  left: 0;
                  height: 20px;
                }

                .header-navigation__link--login::before {
                  background-image: url(../images/header-navigation/header-navigation__link--login.svg);
                  width: 13px;
                }

                .header-navigation__link--compare::before {
                  background-image: url(../images/header-navigation/header-navigation__link--compare.svg);
                  width: 14px;
                }

                .header-navigation__link--cart::before {
                  background-image: url(../images/header-navigation/header-navigation__link--cart.svg);
                  width: 10px;
                }

                .header-navigation__link:hover {
                  opacity: 0.6;
                }

                .header-navigation__link:focus {
                  opacity: 0.3;
                }

                .header-navigation__link--login {
                  padding-left: 24px;
                }

                .header-navigation__link--compare {
                  padding-left: 26px;
                }

                .header-navigation__link--cart {
                  padding-left: 22px;
                }

                  /* header-search start */
                    .header-search {
                      display: flex;
                      margin-right: 100px;
                      width: 440px;
                    }

                    .header-search::before {
                      content: "";
                      background-image: url(../images/header-search/header-search.svg);
                      background-repeat: no-repeat;
                      background-position: 0 50%;
                      position: absolute;
                      height: 50px;
                      width: 16px;
                    }

                    .header-search__input {
                      background-color: transparent;
                      border: none;
                      outline: none;
                      border-bottom: 2px solid transparent;
                      padding-left: 38px;
                      width: 356px;
                    }

                    .header-search__input:focus {
                      border-bottom: 2px solid #000000;
                    }

                    .header-search__input::placeholder {
                      color: var(--basic-black-opacity-03);
                    }

                    .header-search__input:hover::placeholder {
                      color: var(--basic-black-opacity-06);
                    }

                    .header-search__input:focus::placeholder {
                      color: var(--basic-black);
                    }

                    .header-search__button {
                      background-color: transparent;
                      border: none;
                      outline: none;
                      border: 2px solid #000000;
                      height: 50px;
                      width: 84px;
                      visibility: hidden;
                    }

                    .header-search__button:hover {
                      background-color: var(--basic-black);
                      color: var(--basic-white);
                      visibility: visible;
                    }

                    .header-search__button:active {
                      background-color: var(--basic-black);
                      color: var(--basic-white-opacity-3);
                    }

                    .header-search__button:focus {
                      visibility: visible;
                    }

                    .header-search__input:focus+.header-search__button {
                      visibility: visible;
                    }

                    .header-search__button-text {
                      font-family: 'Open Sans', sans-serif;
                      text-transform: uppercase;
                    }
                  /* header-search end */

              /* header-navigation end */

              /* header-services start */
                .header-services {
                  padding-bottom: 18px;
                }

                .header-services__list {
                  display: flex;
                }

                .header-services__item--catalog {
                  margin-right: 282px;
                }

                .header-services__item--delivery {
                  margin-right: 38px;
                }

                .header-services__item--contacts {
                  margin-left: auto;
                }

                .header-services__link {
                  color: var(--basic-black);
                  font-family: Gilroy, Arial, sans-serif;
                  font-size: 18px;
                  font-weight: 800;
                  line-height: 22px;
                  letter-spacing: 0.2em;
                  text-transform: uppercase;
                }

                .header-services__link:hover {
                  color: var(--basic-black-opacity-06);
                }
      
                .header-services__link:active {
                  color: var(--basic-black-opacity-03);
                }

                .header-services__link--catalog {
                  position: relative;
                  padding-right: 38px;
                }

                .header-services__link--catalog::after {
                  content: "";
                  background-image: url(../images/header-services/header-services__link--catalog.svg);
                  position: absolute;
                  right: 0;
                  height: 22px;
                  width: 22px;
                }
              /* header-services end */

          /* header-top end */

          /* header-catalog start */
            .header-catalog {
              background-color: var(--special-yellow-light);
              display: none;
              padding-top: 12px;
              padding-bottom: 37px;
              padding-left: 60px;
              z-index: 3;
            }

            .header-catalog--flex {
              display: flex;
            }

            .header-catalog__list {
              margin-right: 61px;
            }

            .header-catalog__item {
              padding-bottom: 20px;
            }

            .header-catalog__link {
              color: var(--basic-black);
            }

            .header-catalog__link:hover {
              opacity: 0.6;
            }

            .header-catalog__link:active {
              opacity: 0.3;
            }
          /* header-catalog end */

      /* header-nav end */

  /* header-content end */

/* header-end */



/* main start */

  /* slider start */
    .slider {
      position: relative;
      top: -145px;
      margin-bottom: -76px;
    }

    .slider__inner {
      position: relative;
      padding: 0 60px;
    }

      /* slider-item start */
        .slider-item {
          display: none;
        }

        .slider-item--active {
          display: grid;
          grid-template-columns: 500px 500px;
          justify-content: space-between;
        }
          /* slider-left start */
            .slider-left {
              text-align: center;
              margin-top: auto;
              margin-bottom: auto;
            }
          /* slider-left end */

          /* slider-right start */
            .slider-right {
              position: relative;
            }

            .slider-right::before {
              content: "";
              background-color: var(--basic-white);
              position: absolute;
              top: 45px;
              width: 100px;
              height: 7px;
            }

            .slider-right::after {
              color: var(--basic-white);
              font-family: Gilroy,Arial,sans-serif;
              font-size: 179px;
              font-weight: 800;
              line-height: 219px;
              text-transform: uppercase;
              position: absolute;
              top: 0px;
              right: 0px;
              z-index: 1;
            }

            .slider-right--01::after {
              content: "01";
            }

            .slider-right--02::after {
              content: "02";
            }
        
            .slider-right--03::after {
              content: "03";
            }

            .slider-right__title {
              font-family: Gilroy, Arial, sans-serif;
              font-size: 47px;
              font-weight: 800;
              line-height: 58px;
              margin-top: 109px;
              margin-bottom: 30px; 
              position: relative;
              z-index: 2;
            }

            .slider-right__text {
              margin-bottom: 60px;
            }

            .slider-right__link {
              padding: 9px 43px 9px 43px;
              margin-bottom: 60px;
              width: 220px;
            }

            .slider-right__features {
              display: flex;
            }
          
            .slider-right__features-box {
              margin-right: 64px;
            }
          
            .slider-right__features-box:last-of-type {
              margin-right: 0;
            }
      
            .slider-right__features-text {
              font-family: Gilroy, Arial, sans-serif;
              font-weight: 300;
              letter-spacing: 0.1em;
            }
          
            .slider-right__features-text--big {
              font-size: 36px;
              line-height: 42px;
              margin-bottom: 15px;
            }
          
            .slider-right__features-text--small {
              font-size: 13px;
              line-height: 15px;
            }
          /* slider-right end */

      /* slider-item end */

      /* control start */
        .control {
          position: absolute;
          top: 352px;
          right: 88px;
        }
            
        .control__item {
          display: inline-block;
          margin-right: 18px;
        }
        
        .control__label {
          font-size: 0;
        }
            
        .control__label::before {
          background-image: url(../images/control/control.svg);
          content: "";
          position: absolute;
          width: 12px;
          height: 12px;
          cursor: pointer;
        }
            
        .control__label--active::before {
          background-image: url(../images/control/control--active.svg);
        }
      /* control end */

  /* slider end */

  /* popular-products start */
    .popular-products {
      padding-top: 20px;
      margin-bottom: 49px;
    }
  
    .popular-products__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 40px;
    }

    .popular-products__link:active p,
    .popular-products__link:active svg {
      opacity:.3
    }   

    .popular-products__box {
      background-color: var(--special-yellow-light);
      position: relative;
      margin-bottom: 38px;
      height: 160px;
    }

    .popular-products__box:hover {
      background-color: var(--special-yellow-dark);
    }

    .popular-products__svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    .popular-products__title {
      font-family: Gilroy, Arial, sans-serif;
      font-size: 18px;
      font-weight: 800;
      line-height: 22px;
      letter-spacing: 0.05em;
      text-align: center;
    }
  /* popular-products end */

  /* services start */
    .services {
      background-image: linear-gradient(to bottom, 
                        var(--basic-white) 0, 
                        var(--basic-white) 20%,
                        var(--basic-grey-light) 20%, 
                        var(--basic-grey-light) 100%);

      margin-bottom: 90px;
      min-height: 403px;
    }
    
    .services__inner {
      display: grid;
      grid-template-columns: 284px 1fr;
    }

      /* services-navigation start */
        .services-navigation {
          display:flex;
          border-right: 7px solid #000;
          min-height: 320px;
        }

        .services-navigation__list {
          display: flex;
          flex-direction: column;
          justify-content: center;
          min-width: 277px;
        }

        .services-navigation__item {
          margin: 20px 0;
        }

        .services-navigation__link {
          display: block;
          padding: 9px 25px 9px 24px;
          width: 160px;
          z-index: 1;
        }

        .services-navigation__link:active,
        .services-navigation__link:focus {
          background-color: var(--basic-black);
          color: var(--special-yellow-light);
          outline: none;
          padding: 9px 145px 9px 24px;
          width: 100%;
        }

        .services-navigation__link--active {
          background-color: var(--basic-black);
          color: var(--special-yellow-light);
          outline: none;
          padding: 9px 145px 9px 24px;
          width: 100%;
        }

        .services-navigation__link--active::before {
          background-color: var(--basic-black);
        }
      /* services-navigation end */

      /* services-content start */
        .services-content__box {
          display: none;
        }

        .services-content__box--active {
          background-repeat: no-repeat;
          background-position: right top;
          display: block;
          margin-top: 52px;
          margin-left: 116px;
        }

        .services-content__box-01 {
          background-image: url(../images/services-content/services-content__box-01.svg);
        }

        .services-content__box-02 {
          background-image: url(../images/services-content/services-content__box-02.svg);
        }

        .services-content__box-03 {
          background-image: url(../images/services-content/services-content__box-03.svg);
        }

        .services-content__title {
          font-family: Gilroy, Arial, sans-serif;
          font-size: 47px;
          font-weight: 800;
          line-height: 58px;
          letter-spacing: 0.2em;
          margin-bottom: 40px;
        }

        .services-content__text {
          font-family: 'Open Sans', sans-serif;
          font-size: 15px;
          font-weight: 300;
          line-height: 30px;
          letter-spacing: 0.1em;
        }
      /* services-content end */

  /* services end */

  /* brends start */
    .brands {
      margin-bottom: 90px;
    }

    .brands__list {
      display: grid;
      grid-template-columns: 260px 260px 260px 260px;
      grid-template-rows: 100px;
      gap: 40px;
    }

    .brands__img--01:hover {
      background-image: url(../images/brands/brands__img-hover-01.png);
    }

    .brands__img--02:hover {
      background-image: url(../images/brands/brands__img-hover-02.png);
    }

    .brands__img--03:hover {
      background-image: url(../images/brands/brands__img-hover-03.png);
    }

    .brands__img--04:hover {
      background-image: url(../images/brands/brands__img-hover-04.png);
    }
  /* brends end */

  /* about start */
    .about {
      margin-bottom: 86px;
    }

    .about__inner {
      display: grid;
      grid-template-columns: 560px 560px;
      grid-template-rows: 580px;
      gap: 40px;
    }

      /* about-us start */
        .about-us {
          position: relative;
        }

        .about-us::before {
          content: "";
          position: absolute;
          background-color: var(--basic-black);
          width: 80px;
          height: 7px;
          top: 0;
          left: 0;
        }

        .about-us__title {
          font-family: Gilroy, Arial, sans-serif;
          font-size: 47px;
          font-weight: 800;
          line-height: 58px;
          letter-spacing: 0.2em;
          margin-top: 57px;
          margin-bottom: 50px;
        }

        .about-us__text {
          font-family: 'Open Sans', sans-serif;
          font-size: 15px;
          font-weight: 300;
          line-height: 28px;
          margin-bottom: 40px;
        }

        .about-us__text--margin {
          margin-bottom: px;
        }

        .about-us__list {
          padding-left: 38px;
          margin-bottom: 60px;
        }

        .about-us__item {
          font-family: Gilroy, Arial, sans-serif;
          font-size: 16px;
          font-weight: 800;
          line-height: 28px;
          margin-bottom: 20px;
          position: relative;
        }

        .about-us__item::before {
          content: "";
          position: absolute;
          border: 2px solid var(--basic-grey-light);
          border-radius: 50%;
          top: 10px;
          left: -28px;
          width: 10px;
          height: 8px;
        }

        .about-us__link {
          padding: 9px 43px 9px 43px;
          width: 310px;
        }
      /* about-us end */

      /* about-contacts start */
        .about-contacts {
          position: relative;
        }

        .about-contacts::before {
          content: "";
          position: absolute;
          background-color: var(--basic-black);
          width: 80px;
          height: 7px;
          top: 0;
          left: 0;
        }

        .about-contacts__title {
          font-family: Gilroy, Arial, sans-serif;
          font-size: 47px;
          font-weight: 800;
          line-height: 58px;
          letter-spacing: 0.2em;
          margin-top: 57px;
          margin-bottom: 50px;
        }

        .about-contacts__text {
          font-family: 'Open Sans', sans-serif;
          font-size: 15px;
          font-weight: 300;
          line-height: 28px;
          margin-bottom: 40px;
        }

        .about-contacts__link-img {
          margin-bottom: 52px;
        }

        .about-contacts__link {
          white-space: nowrap;
          padding: 9px 43px 9px 43px;
          width: 260px;
        }
      /* about-contacts end */

  /* about end */

/* main end */


/* main-catalog start */
  .main-catalog__inner {
    padding: 0 60px;
  }

  .main-catalog__title {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 58px;
    margin-top: 57px;
    margin-top: 44px;
    margin-bottom: 30px;
  }

    /* breadcrumbs start */
      .breadcrumbs {
        margin-bottom: 50px;
      }

      .breadcrumbs__inner {
        padding: 0 60px;
      }

      .breadcrumbs__list {
        display: flex;
      }

      .breadcrumbs__link {
        color: var(--basic-black-opacity-03);
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 19px;
        padding-right: 40px;
        position: relative;
      }

      .breadcrumbs__link--no-after {
        padding: 0;
      }

      .breadcrumbs__link::after {
        content: "";
        position: absolute;
        background-image: url(../images/breadcrumbs/breadcrumbs__item.svg);
        background-repeat: no-repeat;
        top: 8px;
        right: 20px;
        width: 6px;
        height: 6px;
      }

      .breadcrumbs__link--no-after::after {
        content: "";
        width: 0;
        height: 0;
      }

      .breadcrumbs__link:hover {
        color: var(--basic-black-opacity-06);
      }

      .breadcrumbs__link:active {
        color: var(--basic-black-opacity-01);
      }
    /* breadcrumbs end */

    /* catalog start */

      
        /* catalog-top start */
          .catalog-top {
            background-image: linear-gradient(to right,
                            var(--basic-gainsboro) 0,
                            var(--basic-gainsboro) 30.2%,
                            var(--basic-cararra) 28%,
                            var(--basic-cararra) 100%);
          }

          .catalog-top__inner {
            display: grid;
            grid-template-columns: 328px 828px;
            grid-template-rows: 70px;
          }

            /* catalog-filter start */
              .catalog-filter__title {
                font-family: Gilroy, Arial, sans-serif;
                font-size: 16px;
                font-weight: 800;
                line-height: 20px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                margin-top: 25px;
                margin-left: 60px;
              }
            /* catalog-filter end */

            /* catalog-sorting start */
              .catalog-sorting {
                display: flex;
                align-items: center;
              }

              .catalog-sorting__title {
                font-family: Gilroy, Arial, sans-serif;
                font-size: 16px;
                font-weight: 800;
                line-height: 20px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                margin-right: 74px;
                margin-left: 72px;
              }

              .catalog-sorting__list {
                display: flex;
              }

              .catalog-sorting__list--sort {
                margin-right: 210px;
              }

              .catalog-sorting__item--price,
              .catalog-sorting__item--type {
                margin-right: 30px;
              }

              .catalog-sorting__item--up,
              .catalog-sorting__item--bottom {
                font-size: 0;
              }

              .catalog-sorting__item--up {
                margin-right: 32px;
              }

              .catalog-sorting__link {
                color: var(--basic-black);
                white-space: nowrap;
                position: relative;
              }

              .catalog-sorting__link--price {
                opacity: 1;
              }

              .catalog-sorting__link--type {
                opacity: 0.3;
              }

              .catalog-sorting__link--type:hover {
                opacity: 0.6;
              }

              .catalog-sorting__link--type:active {
                opacity: 1;
              }

              .catalog-sorting__link--popular {
                opacity: 0.3;
              }

              .catalog-sorting__link--popular:hover {
                opacity: 0.6;
              }

              .catalog-sorting__link--popular:active {
                opacity: 1;
              }

              .catalog-sorting__link--up {
                opacity: 0.2;
              }

              .catalog-sorting__link--up::before,
              .catalog-sorting__link--bottom::before {
                content: "";
                position: absolute;
                top: -8px;
                left: 0;
                width: 18px;
                height: 18px;
              }

              .catalog-sorting__link--up::before {
                background-image: url(../images/catalog-sorting/catalog-sorting--up.svg);
              }

              .catalog-sorting__link--bottom::before {
                background-image: url(../images/catalog-sorting/catalog-sorting--bottom.svg);
              }

              .catalog-sorting__link--up:hover,
              .catalog-sorting__link--bottom:hover {
                opacity: 0.4;
              }

              .catalog-sorting__link--up:active,
              .catalog-sorting__link--bottom:active {
                opacity: 1;
              }
            /* catalog-sorting end */

        /* catalog-top end */

        /* catalog-content start */
          .catalog-content {
          background-image: linear-gradient(to right,
                          var(--basic-gallery) 0,
                          var(--basic-gallery) 30.2%,
                          var(--basic-white) 28%,
                          var(--basic-white) 100%);
          }


          .catalog-content__inner {
            display: grid;
            grid-template-columns: 328px 828px;
          }

            /* catalog-left start */

                /* catalog-form start */
                  .catalog-form {
                    padding-left: 60px;
                  }

                  .catalog-form__fieldset-range {
                    margin-top: 70px;
                  }

                  .catalog-form__legend-text {
                    border-top: 2px solid var(--basic-black);
                    font-family: Gilroy, Arial, sans-serif;
                    font-size: 14px;
                    font-weight: 800;
                    line-height: 17px;
                    letter-spacing: 0.1em;
                    display: block;
                    padding-top: 14px;
                    margin-bottom: 30px;
                    width: 200px;
                  }

                  .catalog-form__label-text {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 24px;
                  }

                  .catalog-form__fieldset-color {
                    margin-bottom: 37px;
                  }

                  .catalog-form__item-color {
                    margin-bottom: 15px;
                  }

                  .catalog-form__label-color {
                    padding-left: 42px;
                    position: relative;
                    cursor: pointer;
                    user-select: none
                  }

                  .catalog-form__input-color--checkbox+.catalog-form__label-color::before {
                    content: "";
                    background-repeat: no-repeat;
                    position: absolute;
                    left: 0;
                    width: 24px;
                    height: 24px;
                  }

                  .catalog-form__input-color--checkbox+.catalog-form__label-color::before {
                    background-image: url(../images/catalog-form/checkbox.svg);
                  }

                  .catalog-form__input-color--checkbox:checked+.catalog-form__label-color::before {
                    background-image: url(../images/catalog-form/checkbox--active.svg);
                  }

                  .catalog-form__input-color+.catalog-form__label-color:hover::before {
                    opacity: 0.6;
                  }

                  .catalog-form__input-color+.catalog-form__label-color:active::before {
                    opacity: 1;
                  }

                  .catalog-form__fieldset-bluetooth {
                    margin-bottom: 50px;
                  }

                  .catalog-form__item-bluetooth {
                    margin-bottom: 16px;
                  }

                  .catalog-form__label-bluetooth {
                    padding-left: 42px;
                    position: relative;
                    cursor: pointer;
                    user-select: none;
                  }

                  .catalog-form__input-bluetooth--radio+.catalog-form__label-bluetooth::before {
                    content: "";
                    background-repeat: no-repeat;
                    position: absolute;
                    left: 0;
                    width: 24px;
                    height: 24px;
                  }

                  .catalog-form__input-bluetooth--radio+.catalog-form__label-bluetooth::before{
                    background-image: url(../images/catalog-form/radio.svg);
                  }

                  .catalog-form__input-bluetooth--radio:checked+.catalog-form__label-bluetooth::before{
                    background-image: url(../images/catalog-form/radio--active.svg);
                  }

                  .catalog-form__input-bluetooth+.catalog-form__label-bluetooth:hover::before {
                    opacity: 0.6;
                  }

                  .catalog-form__input-bluetooth+.catalog-form__label-bluetooth:active::before {
                    opacity: 1;
                  }

                  .catalog-form__button {
                    z-index: 1;
                  }

                  .catalog-form__button {
                    padding: 10px 38px;
                    width: 200px;
                  }
                /* catalog-form end */

            /* catalog-left end */

            /* catalog-right start */

                /* goods start */
                  .goods {
                    margin-top: 58px;
                    margin-bottom: 78px;
                    margin-left: 70px;  
                  }

                  .goods__list {
                    display: grid;
                    grid-template-columns: 360px 360px;
                    column-gap: 39px;
                    row-gap: 48px;
                  }

                  .goods__product {
                    position: relative;
                    margin-bottom: 36px;
                  }

                  .goods__info-img:hover {
                    opacity: 0.7;
                  }

                  .goods__hover {
                    position: absolute;
                    display: none;
                    top: 166px;
                    left: 77px;
                    width: 220px;
                  }

                  .goods__hover-add {
                    background-color: transparent;
                    z-index: 1;
                    padding: 10px 38px;
                    margin-bottom: 10px;
                  }
                
                  .goods__hover-comparison {
                    background-color: transparent;
                    opacity: 0.5;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 13px;
                    font-weight: 300;
                    line-height:18px;
                    letter-spacing: 0.1em;
                    width: 200px;
                    text-align: center;
                  }

                  .goods__hover-comparison:hover {
                    opacity: 1;
                  }

                  
                  .goods__hover-comparison:active {
                    opacity: 0.2;
                  }

                  .goods__info {
                    display: flex;
                    justify-content: space-between;
                  }

                  .goods__info-link {
                    color: var(--basic-black);
                    font-family: Gilroy, Arial, sans-serif;
                    font-size: 18px;
                    font-weight: 800;
                    line-height: 22px;
                    letter-spacing: 0.05em;
                  }
                
                  .goods__price {
                    font-family: Gilroy, Arial, sans-serif;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 18px;
                    letter-spacing: 0.05em;
                  }
                /* goods end */

                /* goods-nav start */
                  .goods-nav {
                    background-color: var(--basic-cararra);
                    display: grid;
                    grid-template-columns: 760px;
                    grid-template-rows: 70px;
                    margin-bottom: 78px;
                    margin-left: 70px;
                  }

                  .goods-nav__list {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                  }

                  .goods-nav__link:hover {
                    background-color: #D9D9D9;
                  }

                  .goods-nav__link:active {
                    opacity: 0.3;
                  }

                  .goods-nav__list-number {
                    display: flex;
                    justify-content: space-between;
                    width: 85px;
                  }

                  .goods-nav__link {
                    padding: 25px 30px 25px 30px;
                  }

                  .goods-nav__link,
                  .goods-nav__link-number {
                    color: var(--basic-black);
                    font-family: Gilroy, Arial, sans-serif;
                    font-size: 16px;
                    font-weight: 800;
                    line-height: 20px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                  }

                  .goods-nav__link-number {
                    opacity: 0.3;
                  }

                  .goods-nav__link-number:hover {
                    opacity: 0.6;
                  }

                  .goods-nav__link-number:active {
                    opacity: 1;
                  }

                  .goods-nav__link-number--active {
                    opacity: 1;
                  }
                /* goods-nav end */

            /* catalog-right end */

        /* catalog-content end */

    /* catalog end */

/* main-catalog end */



/* footer start */
  .footer {
    background-color: var(--basic-dark);
  }

  /* footer-content start */

      /* footer-navigation start */
        .footer-navigation {
          display: flex;
          justify-content: space-between;
        }

        .footer-navigation__list {
          display: flex;
          margin-top: 46px;
        }

        .footer-navigation__link {
          color: rgba(255, 255, 255, 0.7);
          position: relative;
          padding-left: 24px; 
        }

        .footer-navigation__link::before {
          background-repeat: no-repeat;
          background-position: 0 50%;
          content: "";
          position: absolute;
          left: 0;
          height: 20px;
        }

        .footer-navigation__link:hover {
          color: var(--basic-white);
        }

        .footer-navigation__link:hover::before {
          opacity: 0.6;
        }

        .footer-navigation__link:active {
          opacity: 0.3;
        }

        .footer-navigation__link--cart {
          margin-right: 6px;
        }

        .footer-navigation__item-catalog::after {
          content: "Выйти";
          color: rgba(255, 255, 255, 0.7);
          padding-left: 20px;
        }

        .footer-navigation__link--login::before {
          background-image: url(../images/footer-navigation/footer-navigation__link--login.svg);
          width: 13px;
        }

        .footer-navigation__link--compare {
          margin-right: 40px;
          margin-left: 40px;
        }
      
        .footer-navigation__link--compare::before {
          background-image: url(../images/footer-navigation/footer-navigation__link--compare.svg);
          width: 13px;
        }
      
        .footer-navigation__link--cart::before {
          background-image: url(../images/footer-navigation/footer-navigation__link--cart.svg);
          width: 13px;
        }

          /* footer-logo start */
            .footer-logo {
              margin-top: 64px;
              margin-bottom: 40px;
            }

            .footer-logo:hover {
              opacity: 0.6;
            }

            .footer-logo:active {
              opacity: 0.3;
            }
          /* footer-logo end */

      /* footer-navigation end */

      /* footer-services start */
        .footer-services {
          display: flex;
          justify-content: space-between;
          margin-bottom: 67px;
        }

        .footer-services__text,
        .footer-services__tel-link {
          color: var(--basic-white);
          font-family: 'Open Sans', sans-serif;
          font-size: 15px;
          font-weight: 300;
          line-height: 20px;
          margin-right: 6px;
        }

        .footer-services__list {
          display: flex;
          justify-content: space-between;
          width: 420px;
        }
      
        .footer-services__link {
            color: var(--basic-white);
            font-family: Gilroy, Arial, sans-serif;
            font-size: 18px;
            font-weight: 800;
            line-height: 22px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
        }

        .footer-services__link:hover {
          opacity: 0.6;
        }

        .footer-services__link:active {
          opacity: 0.3;
        }
      /* footer-services end */

      /* footer-social start */
        .footer-social {
          margin-bottom: 65px;
        }
      
        .footer-social__thumb {
          position: relative;
        }

        .footer-social__thumb::before {
          content: "";
          position: absolute;
          background-color: var(--special-yellow-dark);
          width: 80px;
          height: 7px;
          left: 0;
          top: 0;
        }

        .footer-social {
          display: flex;
          justify-content: space-between;
        }

        .footer-social__icon {
          width: 136px;
        }

        .footer-social__icon-list {
          display: flex;
          justify-content: space-between;
        }

        .footer-social__icon-img {
          opacity: 0.3;
        }

        .footer-social__icon-img:hover {
          opacity: 0.6;
        }

        .footer-social__icon-img:active {
          opacity: 0.1;
        }

        .footer-social__htmlacademy-img {
          margin-right: 6px;
        }

        .footer-social__htmlacademy-img:hover {
          opacity: 0.6;
        }

        .footer-social__htmlacademy-img:active {
          opacity: 0.3;
        }
      /* footer-social end */

    /* footer-content end */

/* footer end */